button{
    font-size: 1.2em;
    background-color: blue;
    outline: none;
    border: 3px solid blue;
    color: white;
    transition: all 1s;
    padding: 1em;
    width: 15em;
    margin-top: 5em;
    margin-right: 3em;
    border-radius: 2em;
    cursor: pointer;
    box-shadow: 0 -2px 5px 2px gray;
}
button:hover{
    background-color: white;
    color: blue;
    transition: all 1s;
}